### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_data= pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players= len(purchase_data['SN'].unique().tolist())
total_players_df = pd.DataFrame({'Total Players':total_players},index=[0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

unique_Item_Name = len(purchase_data['Item Name'].unique().tolist())
average_purchase_price = purchase_data['Price'].mean()
count_no_of_purchases = len(purchase_data['Price'])
total_revenue = purchase_data['Price'].sum()

purchasing_analysis_total_df = pd.DataFrame([{'Number of Unique Items':unique_Item_Name,
                                             'Average Price':average_purchase_price,
                                             'Number of Purchases':count_no_of_purchases,
                                             'Total Revenue': total_revenue},])
purchasing_analysis_total_df['Average Price']=purchasing_analysis_total_df['Average Price'].map("${:.2f}".format)
purchasing_analysis_total_df['Total Revenue']=purchasing_analysis_total_df['Total Revenue'].map("${:.2f}".format)

purchasing_analysis_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

#Find list of unique genders
unique_genders= purchase_data['Gender'].unique().tolist()
unique_genders = ['Male', 'Female', 'Other / Non-Disclosed']
print(unique_genders)

#total unique players
total_players_count= len(purchase_data['SN'].unique().tolist())

#Percentage and Count of Male Players
#Count of male players
male_df = purchase_data.loc[purchase_data['Gender']=='Male',:]
male_df = male_df['SN'].unique().tolist()
count_males = len(male_df)

#percentage of male players
percentage_males = count_males/total_players_count*100

#Percentage and Count of Female Players
#Count of Female players
female_df = purchase_data.loc[purchase_data['Gender']=='Female',:]
female_df = female_df['SN'].unique().tolist()
count_females = len(female_df)

#percentage of female players
percentage_females = count_females/total_players_count*100

#Percentage and Count of Other / Non-Disclosed
#Count of male players
other_df = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed',:]
other_df = other_df['SN'].unique().tolist()
count_other_gender = len(other_df)

#percentage of male players
percentage_other_gender = count_other_gender/total_players_count*100


gender_demographics_df = pd.DataFrame({'Total Count':[count_males,count_females,count_other_gender],
                                      'Percentage of Players':[percentage_males,percentage_females,percentage_other_gender]},
                                     index=unique_genders)
gender_demographics_df['Percentage of Players'] = gender_demographics_df['Percentage of Players'].map("{:.2f}%".format)
gender_demographics_df

['Male', 'Female', 'Other / Non-Disclosed']

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#The below each broken by gender

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

purchase_data
#Male
filter_male_data = purchase_data[purchase_data['Gender']=='Male']

#Purchase Count
male_purchase_count= len(filter_male_data)
male_purchase_count

#Average Purchase Price
male_avg_price = filter_male_data['Price'].mean()
male_avg_price

#Total Purchase Value
male_total_purchase_value = filter_male_data['Price'].sum()
male_total_purchase_value

#Average Purchase Total per Person by Gender

#Step 1: Total male purchase value
male_total_purchase_value

#Step 2: Total unique male players
count_males

#Step 3: Step 1 divide by Step 2
avgPhase_perPerson_male = male_total_purchase_value/count_males



#Female
filter_female_data = purchase_data[purchase_data['Gender']=='Female']

#Purchase Count
female_purchase_count= len(filter_female_data)
female_purchase_count

#Average Purchase Price
female_avg_price = filter_female_data['Price'].mean()
female_avg_price

#Total Purchase Value
female_total_purchase_value = filter_female_data['Price'].sum()
female_total_purchase_value

#Average Purchase Total per Person by Gender

#Step 1: Total male purchase value
female_total_purchase_value

#Step 2: Total unique male players
count_females

#Step 3: Step 1 divide by Step 2
avgPhase_perPerson_female = female_total_purchase_value/count_females



#Other Gender (other)
filter_other_data = purchase_data[purchase_data['Gender']=='Other / Non-Disclosed']

#Purchase Count
other_purchase_count= len(filter_other_data)
other_purchase_count

#Average Purchase Price
other_avg_price = filter_other_data['Price'].mean()
other_avg_price

#Total Purchase Value
other_total_purchase_value = filter_other_data['Price'].sum()
other_total_purchase_value

#Average Purchase Total per Person by Gender

#Step 1: Total male purchase value
other_total_purchase_value

#Step 2: Total unique male players
count_other_gender

#Step 3: Step 1 divide by Step 2
avgPhase_perPerson_other = other_total_purchase_value/count_other_gender


#Creating DataFrame to combine all the data together

purchasing_analysis_gender = pd.DataFrame({'Gender': ['Male', 'Female', 'Other / Non-Disclosed'],
                                           'Purchase Count':[male_purchase_count,female_purchase_count,other_purchase_count],
                                      'Average Purchase Price':[male_avg_price,female_avg_price,other_avg_price],
                                          'Total Purchase Value':[male_total_purchase_value,female_total_purchase_value,other_total_purchase_value],
                                          'Avg Total Purcahse per Person':[avgPhase_perPerson_male,avgPhase_perPerson_female,avgPhase_perPerson_other]})

purchasing_analysis_gender['Average Purchase Price'] = purchasing_analysis_gender['Average Purchase Price'].map("${:,.2f}".format)
purchasing_analysis_gender['Total Purchase Value'] = purchasing_analysis_gender['Total Purchase Value'].map("${:,.2f}".format)
purchasing_analysis_gender['Avg Total Purcahse per Person'] = purchasing_analysis_gender['Avg Total Purcahse per Person'].map("${:,.2f}".format)

purchasing_analysis_gender.set_index('Gender')

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purcahse per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [7]:
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Create the bins in which Data will be held
bins = [0,9,14,19,24,29,34,39,45]

#Create the names for the bins
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#remove any double up in users
purchase_data.drop_duplicates('SN', inplace=True)
purchase_data.reset_index(inplace=True)

#binning data
purchase_data["Age Bracket"] = pd.cut(purchase_data['Age'],bins,labels=group_names, include_lowest=True)

#find the length of the data based on unique users
new_length = len(purchase_data)

#Create a new column to determine the count of unique users in it's age group
total_count_unique= purchase_data.groupby('Age Bracket')['SN'].count().rename('Total Count')

#Create a new column to determine the percentage of unique users in each age group
percentage_unique= ((purchase_data.groupby('Age Bracket')['SN'].count())/new_length*100).rename('Percentage of Players')

#Create a DataFrame to show the unique users and percentage of unique users in each age group
unique_ageDemographic_df = (pd.DataFrame([total_count_unique,percentage_unique])).transpose()

#formatting the DataFrame
unique_ageDemographic_df['Total Count'] = unique_ageDemographic_df['Total Count'].map("{:.0f}".format)
unique_ageDemographic_df['Percentage of Players'] = unique_ageDemographic_df['Percentage of Players'].map("{:.2f}%".format)

#Present the DataFrame
unique_ageDemographic_df

            Total Count Percentage of Players
Age Bracket
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame